@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#app {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 700px;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
/* #app>#main{
  width: 700px;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
} */
#app > div {
  width: 500px;
  height: 600px;
  perspective: 800px;
  position: relative;
}
#app > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
#app > div > div > div:nth-child(1) {
  width: 100%;
  height: 100%;
  /* background-image: url(../../../source/img/gongjo2.jpeg); */
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  position: absolute;
}
#app > div > div > div:nth-child(2) {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 3px solid #6aafe6;
  color: #1e6b7b;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}
#app > div > div > div:nth-child(2) > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(224, 184, 190); */
}
#app > div > div > div:nth-child(2) > div > div > span {
  font-size: 1.5rem;
  text-align: center;
  font-family: "paybooc-Light", sans-serif;
}
#app > span {
  font-size: 2rem;
  font-weight: bold;
  font-family: "paybooc-Light", sans-serif;
}
#app > form > button {
  width: 150px;
  height: 40px;
  background-color: #6e6e6e;
  border: 3px solid #6aafe6;
  margin-left: 30rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;
  display: inline-block;
  position: relative;
}
